# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
va_city_data_df = pd.read_csv("../WeatherPy/city_data.csv")
va_city_data_df.head()

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lüderitz,-26.65,15.16,79.70,24,0,21.52,NaN,1603289740
1,1,Punta Arenas,-53.15,-70.92,46.00,60,90,13.87,CL,1603289532
2,2,Kirakira,-10.45,161.92,79.63,81,95,5.35,SB,1603289740
3,3,Amarwāra,22.30,79.17,70.43,54,62,5.37,IN,1603289740
4,4,General Roca,-39.03,-67.58,62.60,42,87,17.22,AR,1603289740

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
locations = va_city_data_df[["Lat", "Lng"]].astype(float)
locations.dtypes

Lat    float64
Lng    float64
dtype: object

In [5]:
humidity = va_city_data_df["Humidity"]
humidity.dtypes

dtype('int64')

In [8]:
#create heatmap layer 
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=300,
                                 point_radius = 5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
#create an empty column for the hotel name
#before, choose only the columns I need 
va_city_data_df["Hotel Name"] = ""
va_city_data_df

#on the types, use lodging to find hotels

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,0,Lüderitz,-26.65,15.16,79.70,24,0,21.52,NaN,1603289740,
1,1,Punta Arenas,-53.15,-70.92,46.00,60,90,13.87,CL,1603289532,
2,2,Kirakira,-10.45,161.92,79.63,81,95,5.35,SB,1603289740,
3,3,Amarwāra,22.30,79.17,70.43,54,62,5.37,IN,1603289740,
4,4,General Roca,-39.03,-67.58,62.60,42,87,17.22,AR,1603289740,
...,...,...,...,...,...,...,...,...,...,...,...
549,549,Sechura,-5.56,-80.82,68.85,70,65,8.46,PE,1603289857,
550,550,Pori,61.48,21.78,44.60,100,90,9.17,FI,1603289857,
551,551,Lashio,22.93,97.75,66.09,95,48,2.24,MM,1603289858,
552,552,Khani,41.96,42.96,69.80,52,57,5.82,GE,1603289858,
553,553,Zarubino,42.63,131.09,57.99,84,94,16.60,RU,1603289858,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure